@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.ttf');
}
@font-face {
    font-family: 'Inter-Footer';
    src: url('../fonts/Inter-Regular.ttf');
}
@font-face {
    font-family: 'MrDafoe';
    src: url('../fonts/MrDafoe-Regular.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica\ CE\ Bold.otf');
}
@font-face {
    font-family: 'Santio';
    src: url('../fonts/Santio\ Bold.ttf');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-yellow: #e7bc0e;
    --color-green: #6bc1a3;
    --color-rosa: #cb91b6;
    --color-blue: #7eb8e1;
}

html {
    font-size: 16px;
}

/* ! Definition der IMGs */
.article__main {
    content: '';
    background: url('../img/cleo-topper.jpg') center/cover fixed;
}

.img__nav {
    width: 20px;
    height: 20px;
}

.img__sc {
    width: 105px;
    height: 105px;
}

/* ! Start Coding Styling */

/* * Nav Bar */

.article__main nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 10px 25px 0 0;
}

.article__main nav a {
    color: white;
    text-decoration: none;
}

/* * Section Top */

.sc__h1 {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin: 130px 0 130px 130px;
}

.sc__h1 p:first-child {
    font-family: 'Inter';
    font-size: 4.125rem;
    height: 720px;
    width: 265.96px;
    color: white;
}
.sc__h1 p:last-child {
    font-family: 'MrDafoe';
    font-size: 2rem;
    color:var(--color-yellow);
    position: relative;
}

.sc__h1 span {
    font-family: 'Helvetica';
    font-size: 2rem;
    position: absolute;
    top: 20px;
    padding-left: 35px;
}

/* * Section Portrait */

.sc__portrait {
    font-family: 'Santio';
    font-size: 2rem;
    color: var(--color-green);
    margin: 0 0 0 240px;
}
.sc__portrait p {
    width: 490px;
}

.sc__portrait span {
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

/* ! Settings Section Workers, Pay, Health */
/* * */

.sc__facts_settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 260px;

}

.sc__facts_settings div {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 790px;
}

/* * Section Workers */

.sc__workers {
    font-family: 'Santio';
    color: var(--color-yellow);
}

.sc__workers h2 {
    font-size: 8.75rem;
}
.sc__workers p {
    font-size: 3.125rem;
}
.sc__workers span {
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 2.625rem;
}

/* * Section Pay */

.sc__pay {
    font-family: 'Santio';
    color: var(--color-rosa);
}
.sc__pay p:first-child {
    font-size: 3.25rem;
}
.sc__pay p:first-child span {
    color: white;
    font-size: 2.625rem;
    background-color: rgba(0, 0, 0, 0.3);
}
.sc__pay p:last-child {
    font-size: 6rem;
}

/* * Section health */

.sc__health {
    font-family: 'Santio';
    color: var(--color-green);
}

.sc__health p:first-child {
    font-size: 7rem;
}
.sc__health p:last-child {
    font-size: 3.25rem;
}
.sc__health p:last-child span {
    color: white;
    font-size: 2.625rem;
    background-color: rgba(0, 0, 0, 0.3);
}

/* * Descriptions */

.sc__description {
    font-family: 'Santio';
    color:var(--color-blue);
    padding-bottom: 130px;
}
.sc__description div {
    font-size: 2rem;
    padding-right: 290px;
}

.sc__description span {
    color: white;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.3);
}
/* ! Article beendet */
/* * Img Children */

.sc__img img {
    display: block;
    width: 100vw;
}

/* * Section Conclusion */

.sc__conclusion {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 40%;
}

.sc__conclusion div {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 360px;
    padding: 88px 0 88px 88px;
}

.sc__conclusion p {
    color: white;
    font-family: Inter;
    font-size: 3rem;
}

.a__donate {
    width: min-content;
    color: white;
    text-decoration: none;
}

.button__donate {
    border: 2px solid white;
    padding: 16px 32px;
    background-color: black;
}
.button__donate:hover {
    box-shadow: 10px 5px 0px 0px white;
}
/* .a__donate:hover {
    color: red;
} */

/* ! Main fertig */

/* * Footer */

footer {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: black;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: 'Inter-Footer';
    font-size: 0.75rem;
    font-weight: 400;
}

footer a {
    text-decoration: none;
    color: var(--color-green)
}





